<div style='padding:30px'>
    <img style='display:block;' {{action 'upvote'}} src={{upvoteSourceImg}} height='50' width='50'>
    <img style='display:block;' {{action 'downvote'}} src={{downvoteSourceImg}} height='50' width='50'>
</div>
{{yield}}